#logo{
    height: 80px;
    border-radius: 100%;
}
li{
    margin-left: 50%;
}
#row{
    margin-top: 5%;
}
h3{
    margin: 5%;
    font-size: 2.5rem;
}
.imagenes{
    object-fit: contain;
   height: 300px;
}
